---
services:
  genesis:
    build:
      context: docker
      dockerfile: Dockerfile
    image: naokitakahashi12/genesis-env:latest
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
    volumes:
      - type: bind
        source: /tmp
        target: /tmp
      - type: bind
        source: ~/.Xauthority
        target: /root/.Xauthority
      - type: bind
        source: ./shared
        target: /mnt/shared
    devices:
      - /dev/dri
    env_file:
      - ./env_files/xwindow.env
    ports:
      - 6006:6006
    tty: true
